/* =====GENERAL PAGE STYLE =====*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000;
}


/* Restricting width for all main sections */
.container {
    width: 90%;
    max-width: 800px;
    margin:20px auto;
    background-color:beige;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}



/*===== HEADER SECTION =====*/
header {
    background:#f9f9f9;
    padding: 25px 0;
}



*{
    box-sizing: border-box;
    
}

header h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

/* photo */
header img {
    width:120px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 45px;

}

/* Navigation Links */
nav{
    text-align: right;
}

nav a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    margin-left: 15px; /* space between links */
    padding: 5px;
    
}



nav a:hover {
    text-decoration: underline;
    background-color: rgb(42, 157, 165);
}




/* ===== SECTIONS ===== */
Section {
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 30px;
}


section h2{
    text-align: center;
    margin-bottom: 20px;
}

/* =====SCHOOL LIST (3x2 GRID) =====*/
.school-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
}

.school-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 1px;
    background-color: rgb(42, 157, 165);
    text-align: center;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*Spacing Hobbies */

#hobbies ul li {
    margin-bottom: 15px;
}


/*===== FOOTER ===== */
footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #000;
    background-color: #f0f0f0;
    font-size: 15px;
}


/* =====RESPONSIVE DESIGN =====*/

@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        text-align: center;
        margin-top: 10px;
    }

    .school-list{
        grid-template-columns: repeat(1, 1fr);
    }
}






